<div class="cartasflex">
  <app-carta [fase]="'fase1'" [dicaFase]="fase1dicas" (click)="atribuirDicaFase1()"></app-carta>
  <app-carta [fase]="'fase2'" [dicaFase]="fase2dicas" (click)="atribuirDicaFase2()"></app-carta>
  <app-carta [fase]="'fase3'" [dicaFase]="fase3dicas" (click)="atribuirDicaFase3()"></app-carta>
  <app-carta [fase]="'fase4'" [dicaFase]="fase4dicas" (click)="atribuirDicaFase4()"></app-carta>
  <app-carta [fase]="'fase5'" [dicaFase]="fase5dicas" (click)="atribuirDicaFase5()"></app-carta>
</div>
<app-card-topo [isVirado]="isVirado" [nome]="titulo" [dicas]="dicas">
</app-card-topo>
